<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using plain html in pug</title> -->
    <title>#{title}</title>
    style
        include ../static/style.css
        include ../static/style1.css

    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/index">Rugister here</a></li>
            <li><a href="/about">About us</a> </li>
            <li><a href="/contact">Contact us</a> </li>
        </ul>
    </nav>
    <div class="container">
        <h1>This is About Us page</h1>
    </div>
</body>

</html>